//Fonts

/* Import font*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@0;1&display=swap');


/*-- scss:defaults --*/

// Background of the presentation 
$backgroundColor: whitesmoke; // #fcfbf9;


// Text elements
$fontsize: 30px;
$mainColor: #333333;
$font-family-sans-serif: 'Atkinson Hyperlegible'; /*for all text*/
$font-family-monospace: 'Source Code Pro';/* for code*/

// Links and actions
$linkColor: #2d8659;
$linkColorHover: darken( $linkColor, 20% );

/*-- scss:rules --*/

.font25{font-size:25px}
.font50{font-size:50px}
.font75{font-size:75px}
.font100{font-size:100px}
.font100{font-size:125px}
.font150{font-size:150px}

.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}